@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #3b3b3b;
}

body {
    background: #DDDDDD;
}

h1, h2, h3, h4, h5, h6 {
    display: inline;
    font-size: inherit;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: inherit;
}

/* -----------------NAV--------------- */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.25);
    font-size: 1.5em;
    color: #3b3b3b;
    padding: 0 0.75em;
    z-index: 100;
}

#taatghor {
    margin-right: auto;
    margin-left: 0.5em;
    font-weight: 700;
}

#search-button {
    margin-right: 0.25em;
}

nav > a {
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 1.5em; */
    color: #3b3b3b;
    text-decoration: none;
}

/* ------------------------------------------- */

main {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 1.5em;
    top: 3em;
    left: 0;
    /* border: 1px solid black; */

}

section.section__slider {
    width: 100%;
    height: 62vw;
    margin-top: 2em;
    
    /* background-color: red; */
    /* border: 1px solid black; */
}

/* ---------featured-slider ------------ */



  .swiper {
    width: 85%;
    height: 100%;
    border-radius: 31px;
    
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgb(36, 211, 255);
    box-shadow: inset 0px 4px 25px rgba(0, 0, 0, 0.25);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-pagination-bullet {
    background: #FFFFFF;
    transform: scale(1.5);
    margin: 0 0.3em !important;
  }

  .swiper-pagination-bullet-active {
    background: #FFFFFF;
  }

  .swiper-pagination {
      width: 37%;
  }

 /* .swiper-button-next::after, .swiper-button-prev::after {
    content: "";
} */

/* -------------------------------------- */

/* rows */

.section__product-row-1 {
    /* padding-left: 0.7em; */
    padding-top: 1em;
    overflow-x: hidden;
    overflow-y: visible;
    padding-bottom: 2em;
}

.slidey {
    position: relative;
    top: 1em;

    height: 12em;
    overflow: hidden;
}

#category-name {
    padding-left: 0.7em;
}

/* ----------product-card------------ */

.swiper-slide-two {
    background-color: #e1e1e1;
    border-radius: 31px;
    width: 10em;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    /* display: flex; */
    /* flex-direction: column; */
    overflow: hidden;
    text-align: left;
}

.slidey, .product-swiper {
    overflow: visible; /* for shadow cutoff */
}

.product-image {
    height: 75%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.product-details {
    height: 25%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 16px 2px #00000040;
    padding-left: 0.7em;
    padding-top: 0.4em;
    padding-right: 0.7em;
    

}

.price-heart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#price {
    display: inline-block;
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 0.1em;
}

.fa-heart {
    color: #cbcbcb;
    padding-top: 0.2em;
    /* vertical-align: middle; */
    transition: color 0.2s ease-out;
}

.fa-heart:hover {
    cursor: pointer;
}

.red-heart {
    color:rgb(199, 40, 40);
}

#seller {
    display: block;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.heading-product-slider {
    font-weight: 600;
}








/* media queries */

@media all and (min-width: 375px){
section.section__slider {
    height: 10em;
}
}

@media all and (min-width: 425px){
    nav {
        height: 2.3em;
    }
    .slidey {
        height: 8em;
    }
    .swiper-slide-two {
        width: 8.5em;
    }
    .product-details {
        height: 30%;
        padding-bottom: 1em !important;
    }
    #seller {
        font-size: 0.7em;
    }
    #price {
        font-size: 0.9em;
    }
    }