@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #760000;
}

body {
    background: #DDDDDD;
}

h1, h2, h3, h4, h5, h6 {
    display: inline;
    font-size: inherit;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: inherit;
}

/* -----------------NAV--------------- */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.25);
    font-size: 1.5em;
    color: #3b3b3b;
    padding: 0 0.75em;
    z-index: 100;
}

#taatghor {
    margin-right: auto;
    margin-left: 0.5em;
    font-weight: 700;
}

#search-button {
    margin-right: 0.25em;
}

nav > a {
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 1.5em; */
    color: #3b3b3b;
    text-decoration: none;
}

/* ------------------------------------------- */

main {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 1.5em;
    top: 3em;
    left: 0;
    /* border: 1px solid black; */

}

section.section__slider {
    width: 100%;
    height: 62vw;
    margin-top: 2em;
    
    /* background-color: red; */
    /* border: 1px solid black; */
}

/* ---------featured-slider ------------ */



  .swiper {
    width: 85%;
    height: 100%;
    border-radius: 31px;
    
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: rgb(36, 211, 255); */
    box-shadow: inset 0px 4px 25px rgba(0, 0, 0, 0.25);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-pagination-bullet {
    background: #FFFFFF;
    transform: scale(1.5);
    margin: 0 0.3em !important;
  }

  .swiper-pagination-bullet-active {
    background: #FFFFFF;
  }

  .swiper-pagination {
      width: 37%;
  }

 /* .swiper-button-next::after, .swiper-button-prev::after {
    content: "";
} */

/* -------------------------------------- */

/* rows */

.section__product-row-1 {
    /* padding-left: 0.7em; */
    padding-top: 1em;
    overflow-x: hidden;
    overflow-y: visible;
    padding-bottom: 2em;
}

.slidey {
    position: relative;
    top: 1em;

    height: 12em;
    overflow: hidden;
}

#category-name {
    padding-left: 0.7em;
}

/* ----------product-card------------ */

.swiper-slide-two {
    background-color: #e1e1e1;
    border-radius: 25px;
    width: 10em;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    /* display: flex; */
    /* flex-direction: column; */
    overflow: hidden;
    text-align: left;
}

.slidey, .product-swiper {
    overflow: visible; /* for shadow cutoff */
}

.product-image {
    height: 75%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.product-details {
    height: 25%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 16px 2px #00000040;
    padding-left: 0.7em;
    padding-top: 0.4em;
    padding-right: 0.7em;
    

}

.price-heart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#price {
    display: inline-block;
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 0.1em;
}

.fa-heart {
    color: #cbcbcb;
    padding-top: 0.2em;
    /* vertical-align: middle; */
    transition: color 0.2s ease-out;
}

.fa-heart:hover {
    cursor: pointer;
}

.fa-times-circle {
    transition: color 0.1s ease-out;
}
.fa-times-circle:hover {
    color:rgb(241, 14, 14);
}

.red-heart {
    color:rgb(241, 14, 14);
}

#seller {
    display: block;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.heading-product-slider {
    font-weight: 600;
}

.overlay, .popup {
    transition: opacity 0.2s ease-in-out;
}







/* media queries */

@media all and (min-width: 375px){
section.section__slider {
    height: 10em;
}
}

@media all and (min-width: 425px){
    nav {
        height: 2.3em;
    }
    .slidey {
        height: 8em ;
    }
    .swiper-slide-two {
        width: 8.5em;
    }
    .product-details {
        height: 30% ; 
        padding-bottom: 1em !important;
    }
    #seller {
        font-size: 0.7em;
    }
    #price {
        font-size: 0.9em;
    }
    }

@media all and (max-width: 425px){ 
    .popup-swiper #price {
        font-size: 1em !important;
    }
    .popup-swiper #seller {
        transform: translateY(-6px);
    }
}







/* --------- mesh gradients -------------- */

@keyframes hero-gradient-animation{0%{--x-0:100%; --y-0:56%; --c-0:hsla(184,75%,99%,1); --s-start-0:3%; --s-end-0:61%; --s-start-1:9%; --s-end-1:60%; --x-1:25%; --c-1:hsla(211.76470588235296,86%,65%,1); --y-1:22%; --y-2:89%; --c-2:hsla(210,51%,60%,1); --s-start-2:2%; --s-end-2:60%; --x-2:26%;}100%{--x-0:82%; --y-0:76%; --c-0:hsla(28,78%,86%,1); --s-start-0:11%; --s-end-0:71%; --s-start-1:4%; --s-end-1:60%; --x-1:96%; --c-1:hsla(206,70%,55%,1); --y-1:18%; --y-2:66%; --c-2:hsla(152,54%,72%,1); --s-start-2:4%; --s-end-2:73%; --x-2:51%;}}@property --x-0{syntax:'<percentage>';inherits:false;initial-value:100%}@property --y-0{syntax:'<percentage>';inherits:false;initial-value:56%}@property --c-0{syntax:'<color>';inherits:false;initial-value:hsla(184,75%,99%,1)}@property --s-start-0{syntax:'<percentage>';inherits:false;initial-value:3%}@property --s-end-0{syntax:'<percentage>';inherits:false;initial-value:61%}@property --s-start-1{syntax:'<percentage>';inherits:false;initial-value:9%}@property --s-end-1{syntax:'<percentage>';inherits:false;initial-value:60%}@property --x-1{syntax:'<percentage>';inherits:false;initial-value:25%}@property --c-1{syntax:'<color>';inherits:false;initial-value:hsla(211.76470588235296,86%,65%,1)}@property --y-1{syntax:'<percentage>';inherits:false;initial-value:22%}@property --y-2{syntax:'<percentage>';inherits:false;initial-value:89%}@property --c-2{syntax:'<color>';inherits:false;initial-value:hsla(210,51%,60%,1)}@property --s-start-2{syntax:'<percentage>';inherits:false;initial-value:2%}@property --s-end-2{syntax:'<percentage>';inherits:false;initial-value:60%}@property --x-2{syntax:'<percentage>';inherits:false;initial-value:26%}
.mesh-gradient-1{--x-0:100%;--y-0:56%;--c-0:hsla(184,75%,99%,1);--x-1:25%;--c-1:hsla(211.76470588235296,86%,65%,1);--y-1:22%;--y-2:89%;--c-2:hsla(210,51%,60%,1);--x-2:26%;;background-color:hsla(95,55%,63%,1);background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 1288 1288' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0),transparent var(--s-end-0)),radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1),transparent var(--s-end-1)),radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2),transparent var(--s-end-2));animation:hero-gradient-animation 10s linear infinite alternate;background-blend-mode:overlay,overlay,overlay,normal;}

@keyframes hero-gradient-animation{0%{--c-0:hsla(212,0%,0%,1); --x-0:93%; --y-0:93%; --s-start-0:14.489998991212337%; --s-end-0:72%; --y-1:9%; --x-1:26%; --s-start-1:0%; --s-end-1:45%; --c-1:hsla(212,0%,0%,1); --x-2:15%; --s-start-2:2.9253667596993065%; --s-end-2:22.388851682060018%; --y-2:79%; --c-2:hsla(257.14285714285717,91%,27%,0.35); --y-3:104%; --s-start-3:3.985353824694249%; --s-end-3:47.580278608924694%; --x-3:40%; --c-3:hsla(212.47058823529412,100%,50%,0.5); --y-4:60%; --s-start-4:2.391200382592061%; --s-end-4:29.307684556768592%; --x-4:0%; --c-4:hsla(224.44444444444443,72%,36%,1); --x-5:92%; --y-5:37%; --c-5:hsla(248.30769230769235,52%,24%,1); --s-start-5:2.9253667596993065%; --s-end-5:22.388851682060018%; --c-6:hsla(212.47058823529412,100%,50%,0.19); --s-start-6:13.173642363290591%; --s-end-6:31.747336520355095%; --y-6:16%; --x-6:101%; --s-start-7:1%; --s-end-7:31%; --x-7:90%; --y-7:13%; --c-7:hsla(227.6470588235294,98%,53%,1); --x-8:104%; --c-8:hsla(166.53061224489795,71%,60%,0.32); --s-start-8:3.985353824694249%; --s-end-8:13.103042116379756%; --y-8:56%; --x-9:97%; --s-start-9:18.597054544690312%; --s-end-9:31%; --c-9:hsla(219.2079207920792,83%,23%,0.18); --y-9:19%;}100%{--c-0:hsla(306,0%,0%,1); --x-0:7%; --y-0:9%; --s-start-0:2.391200382592061%; --s-end-0:43.902064173373226%; --y-1:93%; --x-1:96%; --s-start-1:9%; --s-end-1:54.805582404585024%; --c-1:hsla(306,0%,0%,1); --x-2:-2%; --s-start-2:3%; --s-end-2:26.722813338714598%; --y-2:103%; --c-2:hsla(166.53061224489795,72%,60%,1); --y-3:82%; --s-start-3:2.391200382592061%; --s-end-3:32.0689540200964%; --x-3:33%; --c-3:hsla(180,100%,50%,0.26); --y-4:81%; --s-start-4:4.40642490323111%; --s-end-4:37.23528104246256%; --x-4:37%; --c-4:hsla(212.43243243243245,88%,26%,0.58); --x-5:54%; --y-5:99%; --c-5:hsla(271.9148936170212,98%,53%,0.31); --s-start-5:3%; --s-end-5:32.537089799783296%; --c-6:hsla(262.82352941176475,100%,50%,0.15); --s-start-6:6%; --s-end-6:42.501105312974815%; --y-6:43%; --x-6:104%; --s-start-7:5%; --s-end-7:13.10107024898374%; --x-7:104%; --y-7:-16%; --c-7:hsla(298.60465116279073,36%,23%,1); --x-8:97%; --c-8:hsla(180,100%,50%,0.11); --s-start-8:2.391200382592061%; --s-end-8:27.141813016850573%; --y-8:30%; --x-9:78%; --s-start-9:5%; --s-end-9:21.32164536610654%; --c-9:hsla(219.2079207920792,83%,23%,0.59); --y-9:4%;}}@property --c-0{syntax:'<color>';inherits:false;initial-value:hsla(212,0%,0%,1)}@property --x-0{syntax:'<percentage>';inherits:false;initial-value:93%}@property --y-0{syntax:'<percentage>';inherits:false;initial-value:93%}@property --s-start-0{syntax:'<percentage>';inherits:false;initial-value:14.489998991212337%}@property --s-end-0{syntax:'<percentage>';inherits:false;initial-value:72%}@property --y-1{syntax:'<percentage>';inherits:false;initial-value:9%}@property --x-1{syntax:'<percentage>';inherits:false;initial-value:26%}@property --s-start-1{syntax:'<percentage>';inherits:false;initial-value:0%}@property --s-end-1{syntax:'<percentage>';inherits:false;initial-value:45%}@property --c-1{syntax:'<color>';inherits:false;initial-value:hsla(212,0%,0%,1)}@property --x-2{syntax:'<percentage>';inherits:false;initial-value:15%}@property --s-start-2{syntax:'<percentage>';inherits:false;initial-value:2.9253667596993065%}@property --s-end-2{syntax:'<percentage>';inherits:false;initial-value:22.388851682060018%}@property --y-2{syntax:'<percentage>';inherits:false;initial-value:79%}@property --c-2{syntax:'<color>';inherits:false;initial-value:hsla(257.14285714285717,91%,27%,0.35)}@property --y-3{syntax:'<percentage>';inherits:false;initial-value:104%}@property --s-start-3{syntax:'<percentage>';inherits:false;initial-value:3.985353824694249%}@property --s-end-3{syntax:'<percentage>';inherits:false;initial-value:47.580278608924694%}@property --x-3{syntax:'<percentage>';inherits:false;initial-value:40%}@property --c-3{syntax:'<color>';inherits:false;initial-value:hsla(212.47058823529412,100%,50%,0.5)}@property --y-4{syntax:'<percentage>';inherits:false;initial-value:60%}@property --s-start-4{syntax:'<percentage>';inherits:false;initial-value:2.391200382592061%}@property --s-end-4{syntax:'<percentage>';inherits:false;initial-value:29.307684556768592%}@property --x-4{syntax:'<percentage>';inherits:false;initial-value:0%}@property --c-4{syntax:'<color>';inherits:false;initial-value:hsla(224.44444444444443,72%,36%,1)}@property --x-5{syntax:'<percentage>';inherits:false;initial-value:92%}@property --y-5{syntax:'<percentage>';inherits:false;initial-value:37%}@property --c-5{syntax:'<color>';inherits:false;initial-value:hsla(248.30769230769235,52%,24%,1)}@property --s-start-5{syntax:'<percentage>';inherits:false;initial-value:2.9253667596993065%}@property --s-end-5{syntax:'<percentage>';inherits:false;initial-value:22.388851682060018%}@property --c-6{syntax:'<color>';inherits:false;initial-value:hsla(212.47058823529412,100%,50%,0.19)}@property --s-start-6{syntax:'<percentage>';inherits:false;initial-value:13.173642363290591%}@property --s-end-6{syntax:'<percentage>';inherits:false;initial-value:31.747336520355095%}@property --y-6{syntax:'<percentage>';inherits:false;initial-value:16%}@property --x-6{syntax:'<percentage>';inherits:false;initial-value:101%}@property --s-start-7{syntax:'<percentage>';inherits:false;initial-value:1%}@property --s-end-7{syntax:'<percentage>';inherits:false;initial-value:31%}@property --x-7{syntax:'<percentage>';inherits:false;initial-value:90%}@property --y-7{syntax:'<percentage>';inherits:false;initial-value:13%}@property --c-7{syntax:'<color>';inherits:false;initial-value:hsla(227.6470588235294,98%,53%,1)}@property --x-8{syntax:'<percentage>';inherits:false;initial-value:104%}@property --c-8{syntax:'<color>';inherits:false;initial-value:hsla(166.53061224489795,71%,60%,0.32)}@property --s-start-8{syntax:'<percentage>';inherits:false;initial-value:3.985353824694249%}@property --s-end-8{syntax:'<percentage>';inherits:false;initial-value:13.103042116379756%}@property --y-8{syntax:'<percentage>';inherits:false;initial-value:56%}@property --x-9{syntax:'<percentage>';inherits:false;initial-value:97%}@property --s-start-9{syntax:'<percentage>';inherits:false;initial-value:18.597054544690312%}@property --s-end-9{syntax:'<percentage>';inherits:false;initial-value:31%}@property --c-9{syntax:'<color>';inherits:false;initial-value:hsla(219.2079207920792,83%,23%,0.18)}@property --y-9{syntax:'<percentage>';inherits:false;initial-value:19%}
.mesh-gradient-2{--c-0:hsla(212,0%,0%,1);--x-0:93%;--y-0:93%;--y-1:9%;--x-1:26%;--c-1:hsla(212,0%,0%,1);--x-2:15%;--y-2:79%;--c-2:hsla(257.14285714285717,91%,27%,0.35);--y-3:104%;--x-3:40%;--c-3:hsla(212.47058823529412,100%,50%,0.5);--y-4:60%;--x-4:0%;--c-4:hsla(224.44444444444443,72%,36%,1);--x-5:92%;--y-5:37%;--c-5:hsla(248.30769230769235,52%,24%,1);--c-6:hsla(212.47058823529412,100%,50%,0.19);--y-6:16%;--x-6:101%;--x-7:90%;--y-7:13%;--c-7:hsla(227.6470588235294,98%,53%,1);--x-8:104%;--c-8:hsla(166.53061224489795,71%,60%,0.32);--y-8:56%;--x-9:97%;--c-9:hsla(219.2079207920792,83%,23%,0.18);--y-9:19%;;background-color:hsla(305,0%,0%,1);background-image:radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0),transparent var(--s-end-0)),radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1),transparent var(--s-end-1)),radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2),transparent var(--s-end-2)),radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3),transparent var(--s-end-3)),radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4),transparent var(--s-end-4)),radial-gradient(circle at var(--x-5) var(--y-5), var(--c-5) var(--s-start-5),transparent var(--s-end-5)),radial-gradient(circle at var(--x-6) var(--y-6), var(--c-6) var(--s-start-6),transparent var(--s-end-6)),radial-gradient(circle at var(--x-7) var(--y-7), var(--c-7) var(--s-start-7),transparent var(--s-end-7)),radial-gradient(circle at var(--x-8) var(--y-8), var(--c-8) var(--s-start-8),transparent var(--s-end-8)),radial-gradient(circle at var(--x-9) var(--y-9), var(--c-9) var(--s-start-9),transparent var(--s-end-9));animation:hero-gradient-animation 10s linear infinite alternate;background-blend-mode:normal,normal,normal,normal,normal,normal,normal,normal,normal,normal;}

.mesh-gradient-3{background-color:hsla(173,77%,83%,1);background-image:radial-gradient(circle at 5% 1%, hsla(250,76%,61%,1) 7%,transparent 84%),radial-gradient(circle at 7% 81%, hsla(184,91%,91%,1) 16%,transparent 53%),radial-gradient(circle at 11% 29%, hsla(213,97%,75%,1) 8%,transparent 74%),radial-gradient(circle at 39% 52%, hsla(149,93%,64%,1) 6%,transparent 68%),radial-gradient(circle at 90% 50%, hsla(118,94%,89%,1) 2%,transparent 85%);background-blend-mode:normal,normal,normal,normal,normal;}